body {
    background-color: #F7F9FB;
}

#header {
    background-color: #687864;
    color: white;
    padding: 10px;
    text-align: center;
}

#navigation { 
    display: flex;
    background-color: #5085A5;
    color: white;
    font-size: large;
    padding: 10px;
    text-align: center;
}

#content {
    background-color: #8FC1E3;
    padding: 10px;
    color: black;
    text-align: center;
}

#author {
    background-color: #31708E;
    padding: 10px;
    color: white;
    text-align: center;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

form {
    margin: 20px auto;
    text-align: center;
}

.button {
    background-color: #5085A5;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #31708E;
}

.message {
    display: none;
    text-align: center;
    color: green;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}